<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true" scan="true" scanPeriod="10 seconds">
  <property name="LOG_TEMP" value="./logs"/>
  <property name="LOG_FILE" value="./logs/spring.log"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="ROLLING">
    <file>logs/module.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>logs/module-%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
      <maxFileSize>1000MB</maxFileSize>
      <maxHistory>288000</maxHistory>
      <totalSizeCap>5GB</totalSizeCap>
    </rollingPolicy>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>INFO</level>
    </filter>
  </appender>

  <root level="INFO">
    <appender-ref ref="ROLLING"/>
  </root>

  <!--<property name="root.level.console" value="OFF"/>-->
</configuration>